// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.color-button-home{
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c
}

.color-button-home:hover{
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}


.dropdown-menu {
  left: -57px;
  border-color: #5cb85c;
  background-color: #292b2c;
}

.nav-link {

}

// img - reponsive

.box-body {
  background-color: #f2f4f5;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

// .box {
//   height:100%;
//   display: flex;
//   // border: 1px solid black;
//   padding-left: 100px;
//   padding-right: 100px;
//   margin: 10px;
//   justify-content: space-between;
//   background-color: #f2f4f5;
//   box-sizing: border-box;
//   align-items: flex-start;
//   // flex-wrap: wrap;
//   // flex-direction: column;
// }

@media (min-width:200px) {
  .box {
    height:100%;
    display: flex;
    // border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    justify-content: center;
    background-color: #f2f4f5;
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: wrap;
    // flex-direction: column;
  }
}

@media screen and (min-width:980px) {
  .box {
    height:100%;
    display: flex;
    // border: 1px solid black;
    padding-left: 0px;
    padding-right: 0px;
    margin: 10px;
    justify-content: space-between;
    background-color: #f2f4f5;
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: nowrap;
    // flex-direction: column;
  }
}

@media screen and (min-width:1280px) {
  .box {
    height:100%;
    display: flex;
    // border: 1px solid black;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    justify-content: space-between;
    background-color: #f2f4f5;
    box-sizing: border-box;
    align-items: flex-start;
    flex-wrap: nowrap;
    // flex-direction: column;
  }
}

.cash {
  // border: 1px solid black;
  // width: 300px;
  height: 200px;
   display: flex;
  //  align-items: flex-start;
  // border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.money{
  margin-bottom: 20px;
  // border: 1px solid black;
  position: relative;
  left: 80px;
}

.month-config{
  font-size: 13px;
  position: relative;
  left: 90px;
  bottom: 20px;
}

.follow-btn {
  position: relative;
  right: 84px;
  top: 20px;
  background-color: #e45933;
  border-color: #e45933;
}
.follow-btn:hover {
  background-color: #d24a25;
  border-color: #d24a25;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer; cursor: hand
}

.money-deposit{
  position: relative;
  top: -15px;
  left: 60px;
}


.progress-bar {
  background-color: #5cb85c;
}

.progress {
  margin-top: 40px;
  width: 250px;

}

.user-img {
  // border: 1px solid black;
  width: 220px;
  // padding: 20px;
  border-radius: 5px;
  margin-right: 30px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}

.avatar-responsive {
  // display: inline-block;
  border-radius: 50%;
}

// .star-project {
//   // padding: 20px;
//   // display: flex;
//   // flex-direction: column;
//   // align-items: center;
//   // justify-content: center;
//   // border: 1px solid black;
//   // padding: 20px;
//   width: 600px;
//   // box-shadow:0 6px 20px 0 rgba(220, 200, 200, 0.19);
//   background-color: #f2f4f5;
//   border-radius: 5px;
// }


.config-text{
  padding: 20px;
  box-shadow:0 6px 20px 0 rgba(220, 200, 200, 0.19);
  background-color: white;
  border-radius: 5px;
  display: flex;
}


@media (min-width: 200px) {
  .star-project {
    width: 400px;
    background-color: #f2f4f5;
    border-radius: 5px;
  }

  .star-project-post {
    // border: 1px solid black;
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    box-shadow:0 6px 20px 0 rgba(220, 200, 200, 0.19);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // background-color: blue;
    // display: inline-flex;

    // border-top: 4px solid #f2f4f5;
  }

  .img-center {
    margin-left: 40px;
    margin-bottom: 20px;
  }

}

@media screen and (min-width:1180px) {
  .star-project {
    width: 600px;
    background-color: #f2f4f5;
    border-radius: 5px;
  }

  .star-project-post {
    // border: 1px solid black;
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    box-shadow:0 6px 20px 0 rgba(220, 200, 200, 0.19);
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    // background-color: blue;
    // display: inline-flex;

    // border-top: 4px solid #f2f4f5;
  }

  .img-center {
    margin-left: 140px;
    margin-bottom: 20px;
  }

}

.center-post {
  height: 100%;
  display: flex;
  // border: 1px solid black;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  // background-color: #f2f4f5;
  // box-sizing: border-box;
  // align-items: flex-start;
}

// .star-project-post {
//   // border: 1px solid black;
//   padding: 10px;
//   width: 600px;
//   border-radius: 5px;
//   box-shadow:0 6px 20px 0 rgba(220, 200, 200, 0.19);
//   background-color: white;
//   display: flex;
//   flex-direction: column;
//   margin-top: 20px;
//   // background-color: blue;
//   // display: inline-flex;
//
//   // border-top: 4px solid #f2f4f5;
// }

.form-inline-home{
  width: 300px;
  // height: 350px;
   display: flex;
   border-radius: 5px;
  //  align-items: flex-start;
  // border: 1px solid black;
  margin-left: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}

.Transfer-button{
  margin-top: 10px;
  width: 255px;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.Transfer-button:hover{
  background-color: #54a754;
  border-color: #54a754;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor:pointer; cursor: hand;
}

.button-user {
  font-family: 'Nunito', sans-serif;
  padding: 0px;
  // border: 1px solid black;
  width: 220px;
  display: flex;
  justify-content: center;
  background-color: #5cb85c;
  color: white;
  font-size: 22px;
  // flex-direction: column;
}

.user-img-circle {
  // border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;

//   line-height: 1.25;
// color: #464a4c;
// border: 1px solid rgba(0, 0, 0, 0.15);
// border-radius: 0.25rem;
}

// .img-center {
//   margin-left: 140px;
//   margin-bottom: 20px;
// }


// @media screen(whidth:) {
//   .box {
//     display: flex;
//     margin: 10px;
//     justify-content: space-between;
//     border: 1px solid black;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-content: center;
//     // width: 100%
//   }
//
// }
//
// @media screen and (whidth:) {
//
// }


// page config

.type-box{
  display: flex;
  justify-content: center;
}

.type-config{
  // border: 1px solid black;
  // display: flex;
  height: 600px;
  width: 600px;
  background-color: white;
}

.avatar-config{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  // border: 1px solid black;
  font-size: 14px;
  line-height: 1.25;
  color: #464a4c;
  // background-color: #fff;
  // background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.text-config{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-color-config{
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.btn-color-config:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.trash-post{
  color: #d24a25;
}

.trash-post:hover{
  text-decoration: none
}
.redirect-menu{
  color: #5cb85c;
}

.redirect-menu:hover{
  color: white;
  text-decoration: none;
}

.color-li-menu:hover{
  background-color: #419641;
}

.divider{
  background-color: white;
  border: 0.00001em solid white;
  color: white;
}
