<div class="save-box">
    <div class="flash-message">
      <h4 class="text-center">Your account is already created</h4>
      <h4 class="text-center"><%= link_to "back","/"%></h4>
    </div>
</div>
